# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xcuserstate

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

## Playgrounds
timeline.xctimeline
playground.xcworkspace

# Swift Package Manager
#
# Add this line if you want to avoid checking in source code from Swift Package Manager dependencies.
# Packages/
.build/

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://github.com/fastlane/fastlane/blob/master/fastlane/docs/Gitignore.md

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
Models/data/Data/Test copy/Erg/IMG_3027.JPG
Models/data/Data/Test copy/Erg/IMG_3089.JPG
Models/data/Data/Test copy/Erg/IMG_3159.JPG
Models/data/Data/Test copy/Erg/IMG_3163.JPG
Models/data/Data/Test copy/Erg/IMG_3164.JPG
Models/data/Data/Test copy/Erg/IMG_3213.JPG
Models/data/Data/Test copy/Erg/IMG_3224.JPG
Models/data/Data/Test copy/Erg/IMG_3225.JPG
Models/data/Data/Test copy/Erg/IMG_3228.JPG
Models/data/Data/Test copy/Erg/IMG_3229.JPG
Models/data/Data/Test copy/Erg/IMG_3230.JPG
Models/data/Data/Test copy/Erg/IMG_3239.JPG
Models/data/Data/Test copy/Erg/IMG_3255.JPG
Models/data/Data/Test copy/Erg/IMG_3256.JPG
Models/data/Data/Test copy/Other/IMG_0058.PNG
Models/data/Data/Test copy/Other/IMG_0074.PNG
Models/data/Data/Test copy/Other/IMG_0076.JPG
Models/data/Data/Test copy/Other/IMG_0077.JPG
Models/data/Data/Test copy/Other/IMG_0078.JPG
Models/data/Data/Test copy/Other/IMG_0150.jpg
Models/data/Data/Test copy/Other/IMG_1610.JPG
Models/data/Data/Test copy/Other/IMG_1611.JPG
Models/data/Data/Test copy/Other/IMG_1612.JPG
Models/data/Data/Test copy/Other/IMG_1613.PNG
Models/data/Data/Test copy/Other/IMG_1616.JPG
Models/data/Data/Test copy/Other/IMG_1789.JPG
Models/data/Data/Test copy/Other/IMG_1807 2.JPG
Models/data/Data/Test copy/Rowing/IMG_0085.JPG
Models/data/Data/Test copy/Rowing/IMG_0086.JPG
Models/data/Data/Test copy/Rowing/IMG_0088.JPG
Models/data/Data/Test copy/Rowing/IMG_0786.JPG
Models/data/Data/Test copy/Rowing/IMG_0879.JPG
Models/data/Data/Test copy/Rowing/IMG_0880.JPG
Models/data/Data/Test copy/Rowing/IMG_0881.JPG
Models/data/Data/Test copy/Rowing/IMG_0882.JPG
Models/data/Data/Test copy/Rowing/IMG_0883.JPG
Models/data/Data/Test copy/Rowing/IMG_1265.JPG
Models/data/Data/Test copy/Rowing/IMG_1377.JPG
Models/data/Data/Test copy/Rowing/IMG_1843 2.JPG
Models/data/Data/Test/Erg/IMG_3089.JPG
Models/data/Data/Test/Erg/IMG_3159.JPG
Models/data/Data/Test/Erg/IMG_3163.JPG
Models/data/Data/Test/Erg/IMG_3164.JPG
Models/data/Data/Test/Erg/IMG_3213.JPG
Models/data/Data/Test/Erg/IMG_3224.JPG
Models/data/Data/Test/Erg/IMG_3225.JPG
Models/data/Data/Test/Erg/IMG_3228.JPG
Models/data/Data/Test/Erg/IMG_3229.JPG
Models/data/Data/Test/Erg/IMG_3230.JPG
Models/data/Data/Test/Erg/IMG_3239.JPG
Models/data/Data/Test/Erg/IMG_3255.JPG
Models/data/Data/Test/Other/IMG_0058.PNG
Models/data/Data/Test/Other/IMG_0074.PNG
Models/data/Data/Test/Other/IMG_0076.JPG
Models/data/Data/Test/Other/IMG_0077.JPG
Models/data/Data/Test/Other/IMG_0078.JPG
Models/data/Data/Test/Other/IMG_0150.jpg
Models/data/Data/Test/Other/IMG_1610.JPG
Models/data/Data/Test/Other/IMG_1611.JPG
Models/data/Data/Test/Other/IMG_1612.JPG
Models/data/Data/Test/Other/IMG_1613.PNG
Models/data/Data/Test/Other/IMG_1616.JPG
Models/data/Data/Test/Rowing/IMG_0086.JPG
Models/data/Data/Test/Rowing/IMG_0088.JPG
Models/data/Data/Test/Rowing/IMG_0786.JPG
Models/data/Data/Test/Rowing/IMG_0879.JPG
Models/data/Data/Test/Rowing/IMG_0880.JPG
Models/data/Data/Test/Rowing/IMG_0881.JPG
Models/data/Data/Test/Rowing/IMG_0882.JPG
Models/data/Data/Test/Rowing/IMG_0883.JPG
Models/data/Data/Test/Rowing/IMG_1265.JPG
Models/data/Data/Training/Erg/IMG_3265.JPG
Models/data/Data/Training/Erg/IMG_3266.JPG
Models/data/Data/Training/Erg/IMG_3267.JPG
Models/data/Data/Training/Erg/IMG_3268.JPG
Models/data/Data/Training/Erg/IMG_3288.JPG
Models/data/Data/Training/Erg/IMG_3296.JPG
Models/data/Data/Training/Erg/IMG_3297.JPG
Models/data/Data/Training/Erg/IMG_3752.JPG
Models/data/Data/Training/Erg/IMG_3766.JPG
Models/data/Data/Training/Erg/IMG_3789.JPG
Models/data/Data/Training/Erg/IMG_3797.JPG
Models/data/Data/Training/Erg/IMG_3798.JPG
Models/data/Data/Training/Erg/IMG_3805.JPG
Models/data/Data/Training/Erg/IMG_4079.JPG
Models/data/Data/Training/Erg/IMG_4110.JPG
Models/data/Data/Training/Erg/IMG_4127.JPG
Models/data/Data/Training/Erg/IMG_4489.JPG
Models/data/Data/Training/Erg/IMG_4492.JPG
Models/data/Data/Training/Erg/IMG_4494.JPG
Models/data/Data/Training/Other/IMG_1820.PNG
Models/data/Data/Training/Other/IMG_1821.JPG
Models/data/Data/Training/Other/IMG_1877 2.JPG
Models/data/Data/Training/Other/IMG_4385.JPG
Models/data/Data/Training/Other/IMG_4412.JPG
Models/data/Data/Training/Other/IMG_4439.JPG
Models/data/Data/Training/Other/IMG_4449.PNG
Models/data/Data/Training/Rowing/IMG_1845 2.JPG
Models/data/Data/Training/Rowing/IMG_1849 2.JPG
Models/data/Data/Training/Rowing/IMG_1849.JPG
Models/data/Data/Training/Rowing/IMG_3365.JPG
Models/data/Data/Training/Rowing/IMG_3367.JPG
Models/data/Data/Training/Rowing/IMG_3368.JPG
Models/data/Data/Training/Rowing/IMG_3369.JPG
Models/data/Data/Training/Rowing/IMG_3370.JPG
Models/data/Data/Training/Rowing/IMG_3371.JPG
Models/data/Data/Training/Rowing/IMG_3865.PNG
Models/data/Data/Training/Rowing/IMG_3945.JPG
Models/data/Data/Training/Rowing/IMG_4409.PNG
Models/data/Data/Training/Rowing/IMG_5597.JPG
Models/data/Data/Training/Rowing/IMG_5602.JPG
Models/data/Data/Training/Rowing/IMG_8606.jpg
Models/data/heic - erg/IMG_0009.HEIC
Models/data/heic - erg/IMG_0191.HEIC
Models/data/heic - erg/IMG_0196.HEIC
Models/data/heic - erg/IMG_0199.HEIC
Models/data/heic - erg/IMG_0206.HEIC
Models/data/heic - erg/IMG_0225.HEIC
Models/data/heic - erg/IMG_0226.JPG
Models/data/heic - erg/IMG_0238.HEIC
Models/data/heic - erg/IMG_0239.HEIC
Models/data/heic - erg/IMG_0240.HEIC
Models/data/heic - erg/IMG_0241.HEIC
Models/data/heic - erg/IMG_0242.HEIC
Models/data/heic - erg/IMG_0259.HEIC
Models/data/heic - erg/IMG_0286.HEIC
Models/data/heic - erg/IMG_0296.HEIC
Models/data/heic - erg/IMG_0320.HEIC
Models/data/heic - erg/IMG_0403.HEIC
Models/data/heic - erg/IMG_0404.HEIC
Models/data/heic - erg/IMG_0414.JPG
Models/data/heic - erg/IMG_0437.JPG
Models/data/heic - erg/IMG_0448.HEIC
Models/data/heic - erg/IMG_0466.HEIC
Models/data/heic - erg/IMG_0472.HEIC
Models/data/heic - erg/IMG_0490.HEIC
Models/data/heic - erg/IMG_0522.HEIC
Models/data/heic - erg/IMG_0538.HEIC
Models/data/heic - erg/IMG_0562.HEIC
Models/data/heic - erg/IMG_0573.HEIC
Models/data/heic - erg/IMG_0603.HEIC
Models/data/heic - erg/IMG_0617.HEIC
Models/data/heic - erg/IMG_0619.HEIC
Models/data/heic - erg/IMG_0672.HEIC
Models/data/heic - erg/IMG_0686.HEIC
Models/data/heic - erg/IMG_0690.HEIC
Models/data/heic - erg/IMG_0753.HEIC
Models/data/heic - erg/IMG_0754.HEIC
Models/data/heic - erg/IMG_0758.HEIC
Models/data/heic - erg/IMG_0823.HEIC
Models/data/heic - erg/IMG_0839.HEIC
Models/data/heic - erg/IMG_0840.HEIC
Models/data/heic - erg/IMG_0851.HEIC
Models/data/heic - erg/IMG_0852.HEIC
Models/data/heic - erg/IMG_0913.HEIC
Models/data/heic - erg/IMG_1347.HEIC
Models/data/heic - erg/IMG_1392.HEIC
Models/data/heic - erg/IMG_1579.HEIC
Models/data/heic - erg/IMG_1580.HEIC
Models/data/heic - erg/IMG_1581.HEIC
Models/data/heic - erg/IMG_1810 2.HEIC
Models/data/heic - erg/IMG_1810.HEIC
Models/data/heic - erg/IMG_1818 2.HEIC
Models/data/heic - erg/IMG_1818.HEIC
Models/data/heic - erg/IMG_1819 2.HEIC
Models/data/heic - erg/IMG_1872 2.HEIC
Models/data/heic - erg/IMG_1872.HEIC
Models/data/heic - erg/IMG_1910 2.HEIC
Models/data/heic - erg/IMG_1910.HEIC
Models/data/heic - erg/IMG_1911 2.HEIC
Models/data/heic - erg/IMG_1911.HEIC
Models/data/heic - erg/IMG_1912 2.HEIC
Models/data/heic - erg/IMG_3006.JPG
Models/data/heic - erg/IMG_4490.PNG
Models/data/heic - erg 2/IMG_0703.HEIC
Models/data/heic - erg 2/IMG_0838.HEIC
Models/data/heic - erg 2/IMG_1819.HEIC
Models/data/heic - erg 2/IMG_1912.HEIC
Models/data/heic - erg 2/IMG_5495.HEIC
Models/data/heic - rowing 2/IMG_1934 2.HEIC
Models/data/heic - rowing 2/IMG_1944 2.HEIC
Models/data/heic - rowing 2/IMG_1953 2.HEIC
Models/data/heic - rowing 2/IMG_1953.HEIC
Models/data/heic - rowing 2/IMG_1958 2.HEIC
Models/data/heic - rowing 2/IMG_5942.HEIC
Models/data/heic - rowing 2/IMG_8566.HEIC
Models/data/heic-other/IMG_1704.HEIC
Models/data/heic-other/IMG_1705.HEIC
Models/data/heic-other/IMG_1708.HEIC
Models/data/heic-other/IMG_1736.HEIC
Models/data/heic-other/IMG_1738.HEIC
Models/data/heic-other/IMG_1740.HEIC
Models/data/heic-other/IMG_1741.HEIC
Models/data/heic-other/IMG_1750.HEIC
Models/data/heic-other/IMG_1766.HEIC
Models/data/heic-other/IMG_1774.HEIC
Models/data/heic-other/IMG_1781.HEIC
Models/data/heic-rowing/IMG_1275.JPG
Models/data/heic-rowing/IMG_1378.HEIC
Models/data/heic-rowing/IMG_1843.JPG
Models/data/heic-rowing/IMG_1844 2.JPG
Models/data/heic-rowing/IMG_1844.JPG
Models/data/heic-rowing/IMG_1845.JPG
Models/data/heic-rowing/IMG_1929 2.HEIC
Models/data/heic-rowing/IMG_1929.HEIC
Models/data/heic-rowing/IMG_1934.HEIC
Models/data/heic-rowing/IMG_1944.HEIC
Models/data/heic-rowing/IMG_1958.HEIC
Models/data/heic-rowing/IMG_3366.JPG
Models/data/heic-rowing/IMG_8585-EFFECTS.jpg
